.profile {
    display: flex;
    align-self: center;
    color: darkslateblue;
    flex-direction: column;
    background-color: #f8f8f9;
}


.profile-content {
    display: flex;
    align-self: center;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
    margin: 10px;
    /*min-height: 25px;*/
    padding: 30px;
    border-radius: 8px;
    height: 50%;
    align-items: center;
    background-color: white;
    border: 4px solid #c468ff;
    font-size: 26px;

}

.text {
    display: flex;
    align-self: center;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
}

.profile-pic {
    max-width: 50%;
    max-height: 200px;
    width: 200px;
}

.icon {
    display:flex;
    min-width:50px;
    min-height:50px;
}

body {
    background: #F5F7FA
}

.stat-val {
    font-size: 3em;
    padding-top: 20px;
    font-weight: bold;
}

.purple {
    background-color: #c468ff;
    color: white;
}
.stat-key {
    font-size: 1.4em;
    font-weight: 200
}

.section.profile-heading .column.is-2-tablet.has-text-centered + .has-text-centered {
    border-left: 1px dotted rgba(0, 0, 0, .2);
}

.container.profile {
    margin-top: 1%;
}

.edit-name {
    display: flex;
    flex-direction: row;
}
.control.is-pulled-left span.select {
    margin-right: 5px;
    border-radius: 2px;
}

.modal-card .content h1 {
    padding: 40px 10px 10px;
    border-bottom: 1px solid #c468ff
}

.container.profile .profile-options .tabs ul li.link a {
    margin-bottom: 20px;
    padding: 20px;
    background-color: rgba(104, 104, 104, 0.1);
}

.labelURL {
    cursor: pointer;
    text-decoration: none;
    color: #363636;
    font-size: 1rem;
    font-weight: 700;
    padding: 1rem;
}

.modal-card-body {
    display: flex;
    -webkit-overflow-scrolling: touch;
    background-color: white;
    flex-grow: 1;
    flex-shrink: 1;
    overflow: auto;
    padding: 20px;
}

.modal {
    top: '50%';
    left: '50%';
    right: 'auto';
    bottom: 'auto';
    margin-right: '-50%';
    transform: 'translate(-50%, -50%)'
  }

.modal-background {
    background-color: rgba(10, 10, 10, 0.86);
  }

