.card-footer-item {
    align-items: center;
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: center;
    padding: 0.75rem;
    overflow: hidden;
}

  .card-footer-item > input[type="file"] {
      z-index: 999;
    opacity: 0;
}

.card-footer-item > .btn-file-input {
    background-color: transparent;
    border: none;
    color: purple;
    width: 200px;
    height: 40px;
}

.card-footer-item > .btn-file-input-ok {
    background-color: transparent;
    border: none;
    color: green;
    width: 200px;
    height: 40px;
}

.image.UploaderImage {
padding-top: 2rem;
position: relative;
}

@media (min-width: 769px) {
}

@media (min-width: 1025px) {
     
}
