$dropdown-menu-min-width: 12rem !default

.postCreateWrapper {
    width: 100vw;
    display: flex;  
    flex-direction: column;
}
.dropDownWrapper {
    width:  100vw;
}
.wrap {
    display: flex;
    height: 1000px;
    border: solid black;
}

#superSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
