//.btn-like {
//    background-color: transparent;
//    border: none;
//    //font-size: 1.2rem;
//    outline: none;
//    &:hover {
//        cursor: pointer;
//    }
//}
//
//.heart-liked {
//    color: red;
//    font-size: 1.2rem;
//}
