.generic-user-card {
    width: 850px;
    padding: 20px;
    position: relative;
    margin: 10px;
    display: inline-block;
    background-color: white;
}

.generic-user-profile-pic {
    width: 120px;
    height: 120px;
    border-radius: 50%
}

.generic-user-qustion-video {
    width: 100px;
}