//@import "../../variables.scss";


.main-header-auth {
    margin-left: 2rem;
    .dropdown {
        figure {
            background-color: white;
            overflow: hidden;
            border-radius: 35%;
            //box-shadow: 0 0 0 3px #029789;
            transition: transform 0.3s;
            &:hover {
                transform: scale(1.05);
            }
        }
    }

    .button:last-of-type {
        margin-left: 0.5rem;
    }

}