@import "../../variables.scss";


.main-header {
    transform: translate3d(0, 0, 0);
    position: fixed;
    top: 0;
    width: 100%;
    margin-bottom: 20px;
    z-index: 1000;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    padding: 0 20px;
    background-color: var(--bg-header);
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.14);
    .main-header-nav {
        height: 100%;
        display: none;
    }
    .button.btn-new {
        display: none;
    }
}

.main-header-logo {
    margin-right: 1.5rem;
    margin-top: -10px;  // align logo text with nav links
    height: 40px;
}


@media (min-width: 769px) {
    .main-header {
        .button.btn-new {
            display: inline-block;
            margin-left: 2rem;
        }

        .main-header-nav {
            display: flex;
            flex-flow: row nowrap;
            font-size: 1rem;

            a {
                color: rgba(90, 35, 231, 0.7);
                margin-left: 1rem;
                display: flex;
                align-items: center;
                flex-flow: column nowrap;
                justify-content: center;
                text-align: center;
                width: 50px;
                transition: color 0.2s;
                &:last-of-type {
                    margin-right: 1.5rem;
                }

                i {
                    color: rgba(90, 35, 231, 0.45);
                }

                &:hover {
                    //box-shadow: 0 23px 0 -20px #03ddbb;
                    color: rgba(90, 35, 231, 0.9);
                    i {
                        color: rgba(90, 35, 231, 0.75);
                    }
                }

                &.nav-active {
                    box-shadow: 0 23px 0 -20px #03ddbb;
                    font-weight: 600;
                }
            }
        }
    }
}



@media (min-width: 1024px) {
     .main-header {
        .main-header-nav {
            font-size: 1.25rem;
            //flex-flow: column nowrap;
            a {
                width: 100px;
                flex-flow: row nowrap;
                i {
                     margin-right: 0.5rem;
                }
            }
        }
     }
}
