.content-wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    min-height: 100vh;
    .content {
        padding-top: 80px;  // set same value as header height
    }
}