

// overwriting Bulmas --column-gap margins which cause mobile view to be over 100% wide
@media (max-width: 768px) {
    .generic-post-list {
        &.columns.is-variable {
            margin-left: 0;
            margin-right: 0;
        }
    }

}