    //.header-search-bar {
    //    display: none;
    //}


@media (min-width: 767px) {
    .header-search-bar {
        margin: 0 auto;
        display: flex;
        flex-grow: 1;
        max-width: 500px;
        .control-overwrite {
            flex-grow: 1;
            .input-overwrite {
                flex-grow: 2;
            }
        }
    }
}

@media (min-width: 1024px) {

}

