.main-footer {
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.14);
    margin-top: auto;
    width: 100%;
    background-color: white;
    padding: 1rem 1.5rem 3rem;
    text-align: center;
    .main-footer-nav {
        max-width: 1440px;
        margin: 0 auto;
        padding: 1rem 0;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        //padding: 1rem 30px;
        align-items: center;
        border-bottom: 1px solid #a3a3a3;
        .main-footer-nav-left a { margin-right: 75px; }
        .main-footer-nav-right a {
            margin-left: 22px;
            border-radius: 100%;
        }
        a {
            color: black;
            //font-size: 20px;
            font-size: 1rem;
        }
    }
    .copyright {
        margin: 0;
        font-size: 14px;
        padding: 1.25rem 30px;

    }
}



//    .main-footer {
//        margin: 40px 15px 25px 15px;
//        margin-bottom: 50px;
//    }
//
//    .main-footer .center {
//        margin: 0 auto;;
//        display: flex;
//        justify-content: space-between;
//        max-width: 900px;
//    }
//
//    .main-footer-nav {
//        flex-shrink: 0;
//    }
//
//    .main-footer nav a {
//        margin-right: 12px;
//    }
//
//    .copyright {
//        margin: 0;
//    }
////}