.bottom-nav {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
    //background-color: #03ddbb;
    background-color: #5a23e7;
    height: 45px;
    width: 100%;
    a {
        width: 60px;
        text-align: center;
        color: white;
        //background-color: red;
        //padding: 10px;
        //background-color: purple;
        //margin: 5px 0;
        i {
            font-size: 1.75rem;
        }
    }
}

//@media (min-width: 768px) {
//    .bottom-nav {
//        display: none;
//    }
//}