.actionbar {
            padding: 5px 0;
            background-color: salmon;
            height: 50px;
            display: flex;
            align-items: stretch;
            justify-content: center;
            .actionbar-action {
                width: 50px;
                cursor: pointer;
                margin: 0 auto;
                display: flex;
                //padding: 10px;
                flex-flow: column nowrap;
                //border: 1px solid black;
                &:hover {
                    color: purple;
                }
                .active {
                    color: red;
                }
            }
        }