.generic-post-card {
  transition: box-shadow 0.25s;
  font-size: 0.9rem;

  .section {
    padding: 20px;
  }

  .stat-key {
    margin-bottom: 10px;
  }


  .title {
    padding-right: 20px;
    //margin: 0 !important;
    max-height: 2rem;
  }

  .stat-key.is-size-3.has-text-weight-bold {
    margin-bottom: 10px;
  }

  .figure-overwrite {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .no-padding {
    padding: 0px/0px !important;
  }

  .card-content {
    padding: 0.75rem;

    .media-content {
      position: relative;

      .post-statistics {
        color: #888087;
      }

      .mdot:after {
        content: '•';
        margin: 0 4px;
      }

      .user-name {
        display: inline-block;
      }
    }
  }


  &:hover {
    //shadow 1dp
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 2px 1px -1px rgba(0, 0, 0, 0.12),
    0 1px 3px 0 rgba(0, 0, 0, 0.20);
  }
}


// scale effect only on widescreen-ish widths because of uncertain behaviour on mobile on tap
//@media (min-width: 1250px) {
//    .generic-post-card {
//        transition: transform 0.25s;
//        &:hover {
//            transform: scale(1.015);
//        }
//    }
//}
//


