@import "./variables.scss";


html {
  min-height: 100vh;
  /* width: 100%; */
}

body {
  font-family: Helvetica, Arial, sans-serif;
  min-height: 100vh;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-body);
  box-sizing: border-box;
  position: relative;
}

#root {
  min-height: 100vh;
    background-color: var(--bg-body);

}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  color: #4c4c4c;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


ul, ol {
  padding-left: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #111;
}
