.player-view-wrapper {
    display: flex;
    flex-flow: column nowrap;
    border: 1px solid red;
    max-width: 600px;
    margin: 0 auto;

    .player-top {
        border: 1px solid green;
        text-align: center;

        .video-wrapper {
            position: relative;
            .btn-back {
                position: absolute;
                z-index: 11;
                left: 10px;
                top: 10px;
                opacity: 0.7;
                &.hide {
                    display: none;
                }
                &:hover {
                    cursor: pointer;
                    color: purple;
                }
            }
        }
    }

    .player-bottom {
        border: 1px solid blue;
        text-align: center;
    }
}